#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
}  
html{
    background-color: rgb(46, 46, 116);
}  
router-link{
    text-decoration: none;
}  
a{
    text-decoration: none;
    color:white
}
.search{
    margin-top: 50px;
}
.searchButton{
    background-color: rgb(48, 48, 102);
    color: white;
}